div.card {
    margin-right: 15px;
    margin-bottom: 15px;
}

p.card-text {
    overflow-wrap: break-word;
}

select#filter-dropdown {
    margin-bottom: 7px;
}

h1 {
    text-align: center;
}

#dark-mode {
    background-color: darkslategray;
    color: whitesmoke;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

ul#dreams-container {
    list-style-type: none;
}

.filter {
    text-align: center;
}

form#dream-form {
    margin-bottom: 30px;
    text-align: center;
}

div.dream-form {
    margin-bottom: 10px;
    text-align: center;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

/* 
.floater {
    height: 100%;
    width: 800px;
    display: inline-block;
}

.all-dreams-container {
    white-space: nowrap;
} */